/*
Estilos da página index.html
*/
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #6272fd;
    padding: 20px;
    border-radius: 16px;
    
}

#menu li {
    display: inline;
    padding: 15px;
}
#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: gray;
}

.p {
    font-family: 'ABeeZee', sans-serif;
    margin-bottom: 0.75rem;
    font-size: 18px;
    padding: 20px;

}
.pd {
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 300px;
    height: 300px;

}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.pc {
    background-color: #6272fd;
}


/*
Estilos da página contato.html
*/

.ml-50 {
    margin-left: 50px;
}
/*
Estilos da página jogo.html
*/

.jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hv a:hover{
    color: gray;
}

